# For now i will include datasets in the repo

# /Datasets/**/*.tsv
# /Datasets/**/*.csv
# /Datasets/**/*.jl

# These too are too big
/Datasets/CivilComments/data.csv
/Datasets/MeToo/data.csv

/Lexicon/venv/

TODO.txt