# For now i will include datasets in the repo

# /Datasets/**/*.tsv
# /Datasets/**/*.csv
# /Datasets/**/*.jl
/Datasets/*.tar.gz
/Final/myembeddings/*
/Final/mydatasets/*
/Final/*.tar.gz

# These too are too big
/Datasets/CivilComments/data.csv
/Datasets/MeToo/data.csv
/Datasets/mydatasets/*

/Lexicon/venv/

TODO.txt